{% extends "templates/web.html" %}

{% block title %}{{ _("Payment Cancelled") }}{% endblock %}

{%- block page_content -%}
<div class='page-card'>
	<div class='page-card-head'>
		<span class='indicator red'>
			{{ _("Payment Cancelled") }}</span>
	</div>
	<p>{{ _("Your payment is cancelled.") }}</p>
	<div><a href='{{ frappe.form_dict.redirect_to or "/" }}' class='btn btn-primary btn-sm'>
			{{ _("Continue") }}</a></div>
</div>
<style>
	.hero-and-content {
		background-color: #f5f7fa;
	}

	.page-card {
		margin-top: 106px;
		padding: 47px;
	}

	.btn.btn-primary {
		background-color: #8b0000 !important;
		color: #ffffff !important;
	}

	.btn-outline-primary:hover {
		color: #ffffff !important;
		background-color: #8b0000;
		border-color: #171717;
	}

		{
		% include "templates/styles/card_style.css" %
	}
</style>

{% endblock %}